* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.root {
  overflow-x: hidden;
  background-color: #edebe8;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  z-index: 1;
  padding-bottom: 60rem;
}
@media (min-width: 637px) {
  .content {
    top: 10%;
    flex-direction: row;
  }
}
